  <head>
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
  </head>
  <!-- <video
    id="video-player"
    class="video-js"
    playsinline>
  </video> -->
  <iframe
src="https://webcast-master.conveneagm.com/?embed=mux#/mux-player?id=xTKbusrnu2iFfN00leUj00ETzEn1eSkv6mGXlWxhXBhRw"
width="100%" height="100%"
allow="autoplay"
frameborder="no"
webkitallowfullscreen
allowfullscreen
>
</iframe>
  <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
  <script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const urlId = urlParams.get("id");
    var player = videojs(document.getElementById("video-player"), {controls: true, fluid: true, liveui: true});
    player.ready(() => {
      player.src(`https://stream.mux.com/${urlId}.m3u8`);
      player.play()
    })
  </script>
